.card-view {
    width: 20px;
    height: 40px;
    background-color: rgba(5, 131, 24, 0.317);
    outline: solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}