.game-screen {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas:
    'menu           top-hand      settings'
    'left-hand       field     right-hand'
    'player-hand   player-hand    actions';
  height: 95vh;
}